<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>productos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <h1>categorias</h1>
    <table>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>acciones</th>
        </tr>
        <% categorias.forEach(categoria=> { %>
            <tr>
                <td><%= categoria.categorias_id %></td>
                <td><%= categoria.nombre %></td>

                <td>
                    <a href="/editarcategoria/<%= categoria.categorias_id %>">Editar</a>
                    <a href="/eliminarcategoria/<%= categoria.categorias_id %>">Eliminar</a>
                    <a href="/listarprodcat/<%= categoria.categorias_id %>">Listar</a>
                </td>
            </tr>
            <% }) %>
    </table>
    <a href="/agregarcategoria">Agregar categoria</a>
</body>

</html>