<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>productos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <h1>fabricantes</h1>
    <table>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>acciones</th>
        </tr>
        <% fabricantes.forEach(fabricantes=> { %>
            <tr>
                <td> <%= fabricantes.fabricante_id %></td>

                <td> <a href="/listarprodfab/<%= fabricantes.fabricante_id%>/<%= fabricantes.nombre%>"> <%= fabricantes.nombre %> </a>  </td>

                <td>
                    <a href="/editarfabricante/<%= fabricantes.fabricante_id %>">Editar</a>
                    <a href="/eliminarfabricante/<%= fabricantes.fabricante_id %>">Eliminar</a>
                </td>
            </tr>
            <% }) %>
    </table>
    <a href="/agregarfabricante">Agregar fabricante</a>
</body>

</html>

